{% extends "base.html" %}

{% block content %}

<div>
    <div class = "p-3 mb-2 bg-danger text-white">
        <div class="media">
            <a href="/musicgenere"><h3>Music Genre</h3></a>
            <img src="https://d1vcqlflm6aitx.cloudfront.net/images/800x100p/1557364192-work_while_you_study_banner.webp" class="img-fluid" alt="Responsive image">
            <div class="media-body">
              <h4 class="mt-0">What is Music ?</h4>
              <p>Music is a form of art that uses sound organised in time. Music is also a form of entertainment that puts sounds together in a way that people like, find interesting or dance to. Most music includes people singing with their voices or playing musical instruments, such as the piano, guitar, drums or violin.</p>
              <h4 class = "mt-0">Uses of this website</h4>
              <p> People who are interested in music production . This website will help them .</p>
              <p>People who are inyerested in arts this website will help them . As you will be playing with images .</p>
            </div>
        </div>
    </div>
    <div class = "p-3 mb-2 bg-primary text-white">
        <div class="media">
            <div class="media-body">
              <h4 class="mt-0">What is music production?</h4>
              <p>Music production is the process by which music is created, captured, manipulated, and preserved so that it can be distributed and enjoyed. </p>
              <h4 class = "mt-0">Music Genre Classification</h4>
              <p>A music genre is a conventional category that identifies some pieces of music as belonging to a shared tradition or set of conventions.</p>

            </div>
        </div>
    </div>
</div

{% endblock %}